* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    width: 34ch;
}

input:not(:placeholder-shown):valid {
    border: none;
    outline: 2px solid green;
}

input:not(:placeholder-shown):invalid {
    border: none;
    outline: 2px solid red;
}

input:not(:placeholder-shown):focus {
    border: none;
    outline: 2px solid goldenrod;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color:rgb(62, 142, 221);
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

button:hover {
    background-color:rgb(91, 157, 222);
}

button:active {
    background-color:rgb(62, 142, 221);
}

.eas-grid {
    display: flex;
    flex-direction: column;

    height: 900px;
    width: 900px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.eas-grid-row {
    flex: 1;
    display: flex;
}

.eas-box {
    flex: 1;
    border: 1px solid lightgray;
}