@font-face {
    font-family: norse;
    src: url(./norse/Norse.otf);
}

@font-face {
    font-family: norse-bold;
    src: url(./norse/Norsebold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */

img {
    height: 100%;
    max-width: 100%;
    position: absolute;
}

.sidebar {
    flex: 2;
    position: relative;
    display: block;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    position: relative;
    top: 20%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.logo-section > h1 {
    font-family: norse-bold, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 80px;
    letter-spacing: 5px;
}

.logo-section > img {
    position: relative;
    width: 75px;
}

.credits {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80%;
    color: white;
}

.credits a {
    color: #64ad24;
    text-decoration: none;
}

.credits a:hover {
    color: #4c821c;
}

/* Main Content Styling */

.main-content {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;

    padding: 30px;
}

.top-section > p {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 55ch;
    font-family: sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    line-height: 1.2;   
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    font-family: sans-serif,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    padding: 30px;
    box-shadow: 
    0px -5px 5px rgba(0, 0, 0, 0.1),
    0px 5px 5px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    gap: 75px;
}

.form-row > h1 {
    letter-spacing: 2px;
    font-size: 18pt;
    padding: 10px 0px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
}

.form-column > label {
    letter-spacing: 2px;
    font-size: 11pt;
}

.form-column > input {
    padding: 5px 5px;
    width: 30ch;
    border: none;
    border-radius: 5px;
}

.bottom-section {
    flex: 1;
    padding: 30px;
    font-family: sans-serif;
}

.bottom-section button {
    padding: 5px 45px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 10px;
}

.bottom-section button:hover {
    background-color: #6d8558;
}

.bottom-section button:active {
    background-color: #596D48;
}

.bottom-section a {
    text-decoration: none;
    color: #596D48;
}

.bottom-section a:hover {
    color: #596d48c9;
}

input {
    outline: 2px solid lightgray;
}

input:not(:placeholder-shown):invalid {
    outline-color: red;
}

input:not(:placeholder-shown):valid {
    outline-color: green;
}

input:focus:invalid {
    outline-color: rgba(234, 194, 15, 0.695);
}